:root {
  --text-dark: #000000;
  --bg-sec: #242a54;
  --bg-primary: #313a76;
  --text-accent: #313a76;
  --dark-blue: #2d40c4;
  --bg-accent: #027cf7;
  --text-sec: #a7a9ac;
  --disabled: #d7d7d7;
  --error: #f04438;
  --stroke: #fda29b;
  --bg-sec-light: #f1f1f1;
  --bg-primary-light: #ffffff;
  --text-light: #ffffff;

  --line-140: 140%;
  --line-160: 160%;
  --line-180: 180%;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}
