:root {
  --text-dark: #000000;
  --bg-sec: #242a54;
  --bg-primary: #313a76;
  --text-accent: #313a76;
  --dark-blue: #2d40c4;
  --bg-accent: #027cf7;
  --text-sec: #a7a9ac;
  --disabled: #d7d7d7;
  --error: #f04438;
  --stroke: #fda29b;
  --bg-sec-light: #f1f1f1;

  --light-gray: rgb(212, 212, 212);
  --white: #ffffff;
  --ocean-blue: #0092a8ff;
  --ocean-blue-hover: #007b91ff;
  --ocean-blue-active: #00647aff;
  --ocean-blue-disabled: #80c9d4ff;
  --ocean-blue-disabled-hover: #80c9d4ff;

  --line-140: 140%;
  --line-160: 160%;
  --line-180: 180%;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}
